@import url('https://fonts.googleapis.com/css?family=Cabin:700|Inconsolata|Poppins');

/* ---------------------- Overall Page Styles ---------------------- */

.wrapper {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
}

.flex-col-25 {
  flex: .25;
}

.flex-col-75 {
  flex: .75;
}

.flex-center{
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  font-size: 36px;
}
h1 + hr {
  border-color: black;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

label {
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

button,
input[role='button']:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover{
  cursor: pointer;
}
.btn-dark {
  border-radius: 2px;
  background-color: #4a4a4a;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  color: white;
  border:none;
  padding: 2px 5px;
}

.pop-up-wrap {
  display: inline;
  position: relative;
}

.pop-up {
  position: absolute;
  display: none;
}

.sort-menu {
  font-weight:200;
  width: 200px;
  top: 50%;
  left: 50%;
  list-style: none;
  background-color: white;
  border: 1px solid black;
  padding: 0;
  z-index: 100;
}

.sort-menu li {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.sort-menu li * {
  padding: 2px 10px;
}

.sort-menu li h5 {
  font-weight: 900;
  border-bottom: 1px solid black;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
/* ---------------------- End Overall Page Styles ---------------------- */

/* ---------------------- Header Styles ---------------------- */

#head-nav {
  background-color: #fff;
  z-index: 100;
}

#head-nav ul {
  text-align: center;
  margin: 0 auto;
  width:60%;
  display:flex;
  padding-left:0;
}

#head-nav li{
  list-style: none;
  white-space: nowrap;
  opacity: .5;
  flex:1;
  cursor: default;
}

.head-nav-scrolled {
  padding-top: 10px;
  position: fixed;
  width:100%;
  top: 0;
  left: 0;
}
.head-nav-scrolled hr {
  margin-bottom: 0;
}

.active {
  text-decoration: underline;
}

#head-nav li.available {
  cursor: pointer;
  opacity: 1;
}

/* ---------------------- End Header Styles ---------------------- */

/* ---------------------- Dataset Styles ---------------------- */

#dataset-header {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#dataset-header h2 {
  margin-bottom: 10px;
}

#dataset-header p {
  margin-top: 0;
}
/* ---------------------- End Dataset Styles ---------------------- */

/* ---------------------- Search Styles ---------------------- */

#search h2 {
  margin-right:1em;
  white-space: nowrap;
}
#search input {
  flex:1;
  height:50px;
  font-size: 24px;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #979797;
  padding: 0px 5px;
}
#search input:focus{
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 5px #719ECE;
}

/* ---------------------- End Search Styles ---------------------- */

/* ---------------------- Topic/Vis Styles ---------------------- */

.topic-list {
  overflow-y: auto;
  background-color: rgba(241, 241, 241, 0);
}
.topic-list li {
  position: relative;
}
.topic-list li:hover {
  background-color: #d8d8d8;
}

/*.topic-words {
  vertical-align: middle;
  display: inline-block;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 10%;
  padding-left: 10px;
}*/

.color-box {
  width: 20px;
  height: 10px;
  display: inline-block;
}

.view-ten-wrap {
  display: inline-block;
  float: right;
}

#clear-selected {
  float: right;
}

#top-ten p {
  margin: 0;
  padding-right: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: 1.5em;
  text-align: right;

}

/* ---------------------- End Topic Styles ----------------------- */

.slider-tray {
  background-color: #d4d4d4;
  border-radius: 8px;
  position: relative;
}

.range-bar {
  position: absolute;
  background-color: #4a4a4a;
}

.slider-handle {
  position: absolute;
  transform: translate(-50%,-50%);
}

.slider-handle-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4a4a4a;
  display: block;
  position: relative;
  z-index: 99;
}

.slider-handle-label {
  position: absolute;
  padding: 2px 3px;
}

.horizontal .slider-handle-label {
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  z-index: 98;
  background-color: rgba(255, 255, 255, 0.9);
}

.vertical .slider-handle-label {
  top: 50%;
  left:-50%;
  transform: translate(-50%,-50%);
  padding-right: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 98;
}

#horizontal-slide {
  height:1px;
  position: relative;
  margin: auto;
  top:50%;
  transform: translateY(50%);
  z-index: 99;
}
.horizontal .slider-tray {
  transform: translateY(-50%);
  top: 50%;
}
.horizontal .slider-handle {
  top:50%;
}
.horiz-slide-wrap {
  position: relative;
  height:20px;
  margin-top: 10px;
}

.horizontal-label {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

#vertical-slide {
  margin: auto;
  width: 1px;
}
.vertical .slider-tray {
  transform: translateX(-50%);
}
.vert-slide-wrap {
  display: inline-block;
  width:20px;
  position: relative;
  top:0;
  margin-right: 10px;
  margin-left: 50px;
}

.vertical-label {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  left: -200%;
}
.vis-wrap {
  position: relative;
  margin-left: auto;
}

.vis-no-title {
  display: inline-block;
  position: relative;
}

.chart-title {
  padding-left: 50px;
}

.chart-wrap {
  position: absolute;
  top: 0;
  right: 0;
}

.out {
  display: none;
}

/* ---------------------- Slider Styles ---------------------- */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 8px;
  height: 5px;
  background-color: #4a4a4a;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #4a4a4a;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
}

input[type='range'].vertical {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
  position: absolute;
  top: 0;
  left: 100%;
  -webkit-transform-origin: left top;
  width: 700px;
}*/

/* ---------------------- End Slider Styles ---------------------- */

/* ---------------------- End Topic Menu Styles ---------------------- */
