@import url('https://fonts.googleapis.com/css?family=Cabin:700|Inconsolata|Poppins');

/* ---------------------- Overall Page Styles ---------------------- */

.wrapper {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
}

.flex-col-25 {
  flex: .25;
}

.flex-col-75 {
  flex: .75;
}

.flex-center{
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

h1 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-weight: normal;
  font-size: 36px;
}
h1 + hr {
  border-color: black;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Cabin', sans-serif;
}

h4 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

label {
  padding-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

button,
input[role='button']:hover,
input[type='submit']:hover,
input[type='reset']:hover,
input[type='button']:hover{
  cursor: pointer;
}

.anchor {
  width:1px;
  height:1px;
  position: absolute;
  left:20px;
}

.btn-dark {
  border-radius: 2px;
  background-color: #4a4a4a;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  color: white;
  border:none;
  padding: 2px 5px;
}

.pop-up-wrap {
  display: inline;
  position: relative;
}

.pop-up {
  position: absolute;
  display: none;
}

.sort-menu {
  font-weight:200;
  width: 200px;
  top: 50%;
  left: 50%;
  list-style: none;
  background-color: white;
  border: 1px solid black;
  padding: 0;
  z-index: 100;
}

.sort-menu li {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.sort-menu li * {
  padding: 2px 10px;
}

.sort-menu li h5 {
  font-weight: 900;
  border-bottom: 1px solid black;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 0;
}
/* ---------------------- End Overall Page Styles ---------------------- */

/* ---------------------- Header Styles ---------------------- */

#head-nav {
  background-color: #fff;
  z-index: 100;
}

#head-nav ul {
  text-align: center;
  margin: 0 auto;
  width:60%;
  display:flex;
  padding-left:0;
}

#head-nav li{
  list-style: none;
  white-space: nowrap;
  opacity: .5;
  flex:1;
  cursor: default;
}

#head-nav a {
  opacity: inherit;
  color: inherit;
  text-decoration: none;
}

.head-nav-scrolled {
  padding-top: 10px;
  position: fixed;
  width:100%;
  top: 0;
  left: 0;
}
.head-nav-scrolled hr {
  margin-bottom: 0;
}

.active {
  text-decoration: underline;
}

#head-nav li.available {
  cursor: pointer;
  opacity: 1;
}
/* ---------------------- End Header Styles ---------------------- */

/* ---------------------- Dataset Styles ---------------------- */

#dataset-header {
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#dataset-header h2 {
  margin-bottom: 10px;
}

#dataset-header p {
  margin-top: 0;
}
/* ---------------------- End Dataset Styles ---------------------- */

/* ---------------------- Search Styles ---------------------- */

#search h2 {
  margin-right:1em;
  white-space: nowrap;
}
#search input[name="keyword"] {
  flex:1;
  height:50px;
  font-size: 24px;
  border-radius: 8px;
  box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #979797;
  padding: 0px 5px;
}
#search input[name="keyword"]:focus{
  outline: none !important;
  border-color: #719ECE;
  box-shadow: 0 0 5px #719ECE;
}
#search input[name="submit-search"] {
  margin-left: 1%;
  font-size: 1.1em;
}
/* ---------------------- End Search Styles ---------------------- */

/* ---------------------- Topic/Vis Styles ---------------------- */

#overview {
  position: relative;
}

.topic-list {
  overflow-y: auto;
}
.topic-list li {
  position: relative;
}
.topic-list:not(ul) li:hover {
  background-color: #d8d8d8;
}

ul.topic-list {
  padding-left: 0;
  overflow-y: hidden;
  list-style: none;
}


ul.topic-list li {

}

ul.topic-list .topic-words {
  overflow: hidden;
  text-overflow: ellipsis;
}

/*.topic-words {
  vertical-align: middle;
  display: inline-block;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 10%;
  padding-left: 10px;
}*/

.color-box {
  display: inline-block;
}

ol .color-box {
  width: 20px;
  height: 10px;
}

ul.topic-list li:hover {
  background-color: #d8d8d8;
  border-radius: 5px;
}

ul.topic-list .topic-words {
  display: inline-block;
  background-color: #d8d8d8;
  border-radius: 5px;
  height: 100%;
  width: 82%;
  position: absolute;
  right:0;
  box-sizing: border-box;
  padding: 5px 5px;
  margin: 0;
  overflow: hidden;
}
ul.topic-list .color-box {
  box-sizing: border-box;
  position: absolute;
  height:66%;
  transform: translateY(-50%);
  top:50%;
  width: 15%;
  background-color: green;
  border-radius: 5px;
}

ul .color-box i{
  font-size: 1.2em;
  color: white;
  text-align: center;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.view-ten-wrap {
  display: inline-block;
  float: right;
}

#clear-selected {
  float: right;
}

#top-ten p {
  margin: 0;
  padding-right: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: 1.5em;
  text-align: right;

}

/* ---------------------- End Topic Styles ----------------------- */

.slider-tray {
  background-color: #d4d4d4;
  border-radius: 8px;
  position: relative;
}

.range-bar {
  position: absolute;
  background-color: #4a4a4a;
}

.slider-handle {
  position: absolute;
  transform: translate(-50%,-50%);
}

.slider-handle-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #4a4a4a;
  display: block;
  position: relative;
  z-index: 99;
}

.slider-handle-label {
  position: absolute;
  padding: 2px 3px;
}

.horizontal .slider-handle-label {
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  z-index: 98;
  background-color: rgba(255, 255, 255, 0.9);
}

.vertical .slider-handle-label {
  top: 50%;
  left:-50%;
  transform: translate(-50%,-50%);
  padding-right: 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 98;
}

#horizontal-slide {
  height:1px;
  position: relative;
  margin: auto;
  top:50%;
  transform: translateY(50%);
  z-index: 99;
}
.horizontal .slider-tray {
  transform: translateY(-50%);
  top: 50%;
}
.horizontal .slider-handle {
  top:50%;
}
.horiz-slide-wrap {
  position: relative;
  height:20px;
  margin-top: 10px;
}

.horizontal-label {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}

#vertical-slide {
  margin: auto;
  width: 1px;
}
.vertical .slider-tray {
  transform: translateX(-50%);
}
.vert-slide-wrap {
  display: inline-block;
  width:20px;
  position: relative;
  top:0;
  margin-right: 10px;
  margin-left: 50px;
}

.vertical-label {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  left: -200%;
}
.vis-wrap {
  position: relative;
  margin-left: auto;
}

.vis-no-title {
  display: inline-block;
  position: relative;
}

.chart-title {
  padding-left: 50px;
}

.chart-wrap {
  position: absolute;
  top: 0;
  right: 0;
}

.out {
  display: none;
}

/* ---------------------- Slider Styles ---------------------- */
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  border-radius: 8px;
  height: 5px;
  background-color: #4a4a4a;
}
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #4a4a4a;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
}

input[type='range'].vertical {
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform:rotate(90deg);
  position: absolute;
  top: 0;
  left: 100%;
  -webkit-transform-origin: left top;
  width: 700px;
}

/* ---------------------- End Slider Styles ---------------------- */

/* ---------------------- End Topic Menu Styles ---------------------- */
.section-separator {
  margin-top: 3em;
}

.topic-title:not(:last-child)::after {
  content : ", ";
}

/*----------------------- Loading Screen ------------------------------*/
#loader {
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
}

#loader h2 {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  -webkit-animation: pulse 10s infinite; /* Safari 4+ */
  -moz-animation:    pulse 10s infinite; /* Fx 5+ */
  -o-animation:      pulse 10s infinite; /* Opera 12+ */
  animation:         pulse 10s infinite;
}

@keyframes pulse {
    0% {transform: translateY(-50%) rotate(0deg);}
    50% {transform: translateY(-50%) rotate(180deg);}
    100% {transform: translateY(-50%) rotate(360deg);}
}
