
tomeenv/

__pycache__/

.cache/

/static/

db.json
/static/

/env

# Settings file (to avoid overriding server defaults)
settings.py

# Mac Stuff
# Folder view configuration files
.DS_Store
Desktop.ini
# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
node_modules
.sass-cache
.get-pip.py.swp
