#timeline{
    background-color:#eee;
    width: 1200px;
  }


.xaxis path,
.xaxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

rect.article:hover{
  opacity:1;
  stroke:black;
  stroke-width:2px;
}

rect.article.activeRect{
  opacity: 1;
}

.line {
  fill: none;
  /*stroke: steelblue;*/
  stroke-width: 3px;
  opacity: 0.2;
}

path.line:hover{
  stroke-width:2px;
  /*stroke:red;*/
  opacity: 1;
}

path.line.active{
  stroke-width:2px;
  stroke:red;
  opacity: 1;
}