<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TOME</title>
    {% load static %}
    {% load i18n %}
    <link
      href="{% static "Tome/font-awesome-4.7.0/css/font-awesome.min.css" %}"
      rel="stylesheet" type="text/css"/>

    <link href="{% static "Tome/css/main.css" %}" rel="stylesheet"
      type="text/css"/>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Interactive TOpic Model and MEtadata Visualization</h1>
        <hr>
      </header>
      <nav id="head-nav">
        <ul>
          <li class="available active"><a href="#search"><h4>OVERVIEW</h4></a></li>
          <li class=""><h4>TOPIC DETAILS</h4></h4></h4></li>
          <li class=""><h4>DOCUMENT DETAILS</h4></h4></li>
          <li class="available"><h4>NOTES</h4></li>
        </ul>
        <hr>
      </nav>

      <div id="dataset-header">
        <!-- TODO: Fill in with actual DB information. -->
        <h2>{{corpus.title}}</h2>
        <!--
        <button id="change-dataset" class="btn-dark">Change Dataset</button>
        -->
        <p>
          <span class='summary'>{{corpus.description}}</span>
          <br/>
          <span class='timeframe'>
            {{corpus.date_started}} -
            {% if corpus.date_ended %}
              {{corpus.date_ended}}
            {% else %}
              Present
            {% endif %}
          </span>
        </p>
        <hr>
      </div>
      <div id="search" class="flex-container flex-center">
        <h2>Search keyword(s):</h2>
        <input name="keyword" type="text"/>
      </div>

      <div class="flex-container">
        <div class='topics flex-col-25'>
            <h2>Topics
              <div class="pop-up-wrap">
                <button class="btn-dark topic-sort">
                  <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
                </button>
                <ul class="pop-up sort-menu">
                  <li><h5>SORT BY</h5></li>
                  <li><span>Most Prevalent in Corpus</span></li>
                  <li><span>Most Similar to Selected</span></li>
                  <li><span>Selected at Top</span></li>
                </ul>
              </div>
              <div class="view-ten-wrap">
                <button class="btn-dark view-ten">View 10</button>
                <button class="btn-dark view-all" \
                  style="display:none">View All</button>
              </div>
          </h2>
          <ol id="corpus-topics" class="topic-list">
            {% for t in topics %}
            <li data-topic="{{t.key}}">
              <span class="topic-words">{{t.topFive}}</span>
              <span class="color-box"></span>
            </li>
            {% endfor %}
          </ol>
          <ul id="corpus-ten-topics" class="topic-list" style="display:none"></ul>
          <button id="clear-selected" name="clear-selected" class="btn-dark">
            Clear Selected
          </button>
        </div>
        <div class='vis-wrap flex-col-75'>
          <h2 class="chart-title">Topics ranked by % of entire corpus</h2>
          <div class="vis-no-title">
            <div class="vert-slide-wrap">
              <label class="vertical-label">
                RANK
              </label>
              <div id="vertical-slide" class="slider-range vertical">
              </div>
              <div id="top-ten" style="display:none">
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
                <p>6</p>
                <p>7</p>
                <p>8</p>
                <p>9</p>
                <p>10</p>
              </div>
            </div>
            <div class="chart-wrap">
              <div id="corpus-chart" ></div>
              <div class="horiz-slide-wrap">
                <div id="horizontal-slide" class="slider-range"></div>
                <label class="horizontal-label">
                  YEAR
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script>
      allTopicList = [];
      '{% for t in topics %}'
        allTopicList.push({
          key : parseInt('{{ t.key }}'),
          desc : '{{ t.topTen }}'
        });
      '{% endfor %}'
      allKeys = allTopicList.map(function(t) {
        return t.key;
      });
      topic_data = JSON.parse('{{ topics_js | safe }}');
      data_start_year = parseInt('{{corpus.date_started.year}}');
      data_end_year = parseInt('{{corpus.date_ended.year}}');
      data_n_range = data_end_year - data_start_year + 1;
    </script>
    <script src="{% static "Tome/js/d3.min.js" %}"></script>
    <script src="{% static "Tome/js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "Tome/js/map.js" %}"></script>
    <script src="{% static "Tome/js/topics.js" %}"></script>
    <script src="{% static "Tome/js/visScript.js" %}"></script>
    <script src="{% static "Tome/js/script.js" %}"></script>
  </body>
</html>
