<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TOME</title>
    {% load static %}
    {% load i18n %}
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet'/>

    <link href="{% static "Tome/css/main.css" %}" rel="stylesheet"
      type="text/css"/>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Interactive TOpic Model and MEtadata Visualization</h1>
        <hr>
      </header>
      <nav id="head-nav">
        <ul>
          <li id="overview-link" class="available active">
            <a href="#overview"><h4>OVERVIEW</h4></a>
          </li>
          <li id="topic-link" class="">
            <a href="#topic-details"><h4>TOPIC DETAILS</h4></a>
          </li>
          <li id="document-link" class="">
            <a href="#document-details"><h4>DOCUMENTS</h4></a>
          </li>
          <li id="document-details-link" class="">
            <h4>DOCUMENT DETAILS</h4>
          </li>
        </ul>
        <hr>
      </nav>
      <div id="loader" style="display:none">
        <img src="{% static "Tome/img/miniloader.svg" %}" alt="spinning icon"/>
      </div>
      <div id="dataset-header">
        <!-- TODO: Fill in with actual DB information. -->
        <h2>{{corpus.title}}</h2>
        <!--
        <button id="change-dataset" class="btn-dark">Change Dataset</button>
        -->
        <p>
          <span class='summary'>{{corpus.description}}</span>
          <br/>
          <span class='timeframe'>
            {{corpus.date_started}} -
            {% if corpus.date_ended %}
              {{corpus.date_ended}}
            {% else %}
              Present
            {% endif %}
          </span>
        </p>
        <hr>
      </div>
      <div id="search" class="flex-container flex-center">
        <h2>Search keyword(s):</h2>
        <input name="keyword" type="text"/>
        <input class="btn-dark" name="submit-search" type="submit"/>
      </div>

      <div class="section flex-container" id="overview">
        <div class='topics flex-col-25'>
            <h2>Topics
              <div class="pop-up-wrap">
                <button class="btn-dark topic-sort">
                  <i class="fas fa-sort-amount-down" aria-hidden="true"></i>
                </button>
                <ul class="pop-up sort-menu">
                  <li class="heading"><h5>SORT BY</h5></li>
                  <li class="selected" data-sort="0"><span>Most Prevalent in Corpus</span></li>
                  <li data-sort="1"><span>Most Similar to Selected</span></li>
                  <li data-sort="2"><span>Selected at Top</span></li>
                </ul>
              </div>
              <div class="view-ten-wrap">
                <button class="btn-dark view-ten">View 10</button>
                <button class="btn-dark view-all" \
                  style="display:none">View All</button>
              </div>
          </h2>
          <ol id="corpus-topics" class="topic-list">
            {% for t in topics %}
            <li data-topic="{{ t.key }}" data-rank="{{ t.rank }}">
              <span class="topic-words">{{t.topFive}}</span>
              <span class="color-box"></span>
            </li>
            {% endfor %}
          </ol>
          <ul id="corpus-ten-topics" class="topic-list" style="display:none"></ul>
          <button id="clear-selected" name="clear-selected" class="btn-dark">
            Clear Selected
          </button>
        </div>
        <div class='vis-wrap flex-col-75'>
          <h2 class="chart-title">Topics ranked by % of entire corpus</h2>
          <div class="vis-no-title">
            <div class="vert-slide-wrap">
              <label class="vertical-label">
                RANK
              </label>
              <div id="vertical-slide" class="slider-range vertical">
              </div>
              <div id="top-ten" style="display:none">
                <p>1</p>
                <p>2</p>
                <p>3</p>
                <p>4</p>
                <p>5</p>
                <p>6</p>
                <p>7</p>
                <p>8</p>
                <p>9</p>
                <p>10</p>
              </div>
            </div>
            <div class="chart-wrap">
              <div id="corpus-chart" ></div>
              <div class="horiz-slide-wrap">
                <div id="horizontal-slide" class="slider-range"></div>
                <label class="horizontal-label">
                  YEAR
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF OVERVIEW -->

      <!-- <hr class="section-separator"/> -->
      <div id="topic-details" class="section" style='display: none;'>
        <h2 id="topic-titles"></h2>
        <hr class="dark thick"/>
        <div id="topic-score-chart-wrapper" style='display: none;'>
          <div id="selected-topics">
            <h2>Selected topics</h2>
            <div class="list-wrapper">
              <ol id="selected-topics-list" class="no-dec scroll-y"></ol>
            </div>
          </div>
          <div id="topic-score-chart-inner-wrapper" class="c-wrap">
            <h2>Topic percentage per year</h2>
            <div id="topic-score-chart"></div>
          </div>
        </div>

        <div id="topic-comp-wrapper">
          <h2>Selected Topics in Context</h2>
          <div id="topic-comp-bars">

          </div>
        </div>

        <div id='map-wrapper' class='c-wrap' style="display: none;">
          <h2>Topic scores by geographic location</h2>
          <div class="grid-wrap">
            <div>
              <div id='map' style='width: 600px; height: 600px;'></div>
              <div class="papers-col right"></div>
            </div>
            <div class="papers-col left"></div>
          </div>
        </div>
      </div>
      <div id='documents' class='section' style="display: none;">
        <h2>Documents</h2>
        <hr class="dark thick"/>
        <div class="view-switch">
          <div class='controls vs-controls'>
            <div class="switch-buttons">
              <button class='active' type="button" name="tbl" data-target='doof'>Table</button>
              <button type='button' name="dnm" data-target='doof'>Dust & Magnet</button>
            </div>
          </div>
          <div id='doof' class="vs-frame">
            <div class="rsp-table vs-item active" data-item-name='tbl'>
              <div class="rsp-table-header">
                <h4>Rank</h4><!--
             --><h4>Article</h4><!--
             --><h4>Date</h4><!--
             --><h4>Newspaper</h4><!--
             --><h4>Prevalence</h4><!--
             --><h4>Top Topics</h4>
              </div>
              <div class="rsp-table-body articles"></div>
            </div>
            <div id="dnm-vis" class="dnm vs-item" data-item-name='dnm'>
              <div class="dnm dnm-controls">
                <button id="dnm-zoom-reset">
                  <i class="fas fa-expand" aria-hidden="true"></i>
                </button>
                <button id="dnm-zoom-in">
                  <i class="fas fa-search-plus"></i>
                </button>
                <button id="dnm-zoom-out">
                  <i class="fas fa-search-minus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class='controls'>
          <button id="more-articles">Load More</button>
          <p>
            Showing
            <span class="loaded-articles"></span> of
            <span class="total-articles"></span> articles.
          </p>
        </div>
      </div>
      <div id="document-details" class="section" style='display: none;'>
        <h2>Document Details</h2>
        <hr class="dark thick"/>

        <div class="column-wrap">
        </div>
        <div class="miniload" style="display:none;">
          <img src="{% static "Tome/img/miniloader.svg" %}" alt="loading"/>
        </div>
      </div>
    </div>

    <!-- Scripts -->
    <script src="{% static "Tome/js/d3.min.js" %}"></script>
    <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
    <script src="{% static "Tome/js/jquery-3.2.1.min.js" %}"></script>
    <script src="{% static "Tome/js/polypatches.js" %}"></script>
    <script src="{% static "Tome/js/dnmVis.js" %}"></script>
    <script src="{% static "Tome/js/topics.js" %}"></script>
    <script src="{% static "Tome/js/mapVis.js" %}"></script>
    <script>
      allTopicList = [];
      '{% for t in topics %}'
        allTopicList.push({
          key : parseInt('{{ t.key }}'),
          desc : '{{ t.topTen }}',
          rank : parseInt('{{ t.rank }}'),
        });
      '{% endfor %}'
      allKeys = allTopicList.map(function(t) {
        return t.key;
      });
      topic_data = JSON.parse('{{ topics_js | safe }}');
      topic_data_link = "{% url 'topics:topics_as_json' %}";
      all_topic_list_link = "{% url 'topics:all_topics_as_json' %}";
      articles_link = "{% url 'topics:articles_by_topics' %}";
      paper_topic_data_link =  "{% url 'topics:topics_by_paper' %}";
      map_data_link = "{% url 'topics:location_mapper' %}";
      data_start_year = parseInt('{{ corpus.date_started.year }}');
      data_end_year = parseInt('{{ corpus.date_ended.year }}');
      data_n_range = data_end_year - data_start_year + 1;
      // article_counts = JSON.parse('{{ article_count | safe }}');
    </script>
    <script src="{% static "Tome/js/visScript.js" %}"></script>
    <script src="{% static "Tome/js/script.js" %}"></script>
  </body>
</html>
